/* colors being used:
subtext - h6 tags #9899ac
background and navbar color - #5fdedc in hex or rgba(95, 222, 220, 1) in rgba
*/
/* fonts used: 
font-family: "Averia Serif Libre", cursive;
*/
/*main style is coming from react-bootstrap npm package */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Averia Serif Libre', cursive;
  background: fixed
    linear-gradient(to top, rgba(95, 222, 220, 0.2), rgba(95, 222, 220, 0));
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}

h6 {
  color: #9899ac;
}

.logo-font {
  font-family: 'Averia Serif Libre', cursive;
}

.attributeCards {
  border: none;
}
.attributeCards:hover {
  transition: ease-in-out 700ms;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  background: linear-gradient(to right, #5fdedc, rgba(255, 255, 255, 1));
}

.btn {
  border-color: #e96c4e;
  background-color: #e96c4e;
}

.btn:hover {
  border-color: #bf5f47;
  background-color: #bf5f47;
}

.nav:hover {
  color: #e9c46a;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #bf5f47;
}
